@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #625df5;
  --color-body: #374151;
  --color-dark-2: #979797;
  --color-dark-3: #b4b4bb;
  --color-dark-4: #5c6a78;
  --color-dark-5: #bbbec9;
  --color-dark: #15171a;
  --color-gray-2: #f3f4f6;
  --color-gray-3: #e5e7eb;
  --color-gray-4: #d1d5db;
  --color-gray-5: #9ca3af;
  --color-gray-7: #374151;
  --color-gray: #f9fafb;
  --color-blue: #2d68f8;
  --color-green: #22ad5c;
  --color-green-dark: #1a8245;
  --color-purple: #8646f4;
  --color-purple-dark: #6d28d9;
  --color-cyan: #01a9db;
  --color-cyan-dark: #0b76b7;
  --color-teal: #02aaa4;
  --color-teal-dark: #06a09b;
  --color-orange: #ff822e;
  --color-red: #b02c13;
  --color-red-2: #d32e2b;
}

body {
  @apply font-inter text-base leading-6 font-normal text-dark-4;
}
menu-extended {
  @apply overflow-hidden;
}

header.header-sticky {
  @apply bg-white shadow-sm left-0 fixed -top-full w-full z-[9999] transition-all duration-500 ease-in-out;
}

header.header-sticky.header-show {
  @apply top-0;
}

.toggle-menu {
  @apply bg-transparent cursor-pointer block h-[30px] relative w-[30px] z-[991] transition-all duration-500 ease-in-out xl:hidden ml-7 p-0 border-0 outline-0;
}
.toggle-menu i {
  @apply bg-black block h-0.5 w-full transition-all duration-300 ease-in;
}
.toggle-menu i + i {
  @apply mt-[7px];
}

header.nav-open .toggle-menu i {
  @apply relative;
}
header.nav-open .toggle-menu i:nth-child(1) {
  @apply top-[9px] rotate-[45deg];
}
header.nav-open .toggle-menu i:nth-child(2) {
  @apply opacity-0;
}
header.nav-open .toggle-menu i:nth-child(3) {
  @apply -top-[9px] -rotate-[45deg];
}
header.nav-open {
  @apply transition-all duration-500 ease-in-out;
}
header.nav-open .menu {
  @apply opacity-[1] translate-y-0  visible  bg-white  w-full h-auto! max-h-[400px] overflow-y-scroll  p-7.5;
}

.dropdown {
  @apply absolute left-0 top-full w-full xl:w-[200px] p-3 bg-white shadow-lg mt-0 min-w-max rounded-lg opacity-0 invisible translate-y-1  transition-all ease-in duration-300 z-50 group-hover:opacity-100 group-hover:visible;
}

.sub-menu-open .menu-item-has-children.open .dropdown {
  @apply absolute left-0 top-full w-full xl:w-[200px] p-3 bg-white shadow-lg mt-0 min-w-max rounded-lg  translate-y-1  transition-all ease-in duration-300 z-50 opacity-100 visible;
}
